<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title my-4">
                    2024年9月10日 日本赤十字社医療センター(渋谷区)を新規登録しました。
                </h5>
                <p class="card-text">
                    　利用会員からのリクエストにより<a href="/hospital/66dd0e66af320880fd56456a">日本赤十字社医療センター(渋谷区)</a>を新規登録いたしました。悩んでいるご家族がいらっしゃいます。ご支援のため口コミ投稿をよろしくお願いいたします。<br><br>　日本小児心臓外科医会のWebページに載っていない病院で、外科手術を受けた経験がある場合、または情報が欲しい場合は<a href="/form">問い合わせフォーム</a>にてご連絡ください。できる限り迅速に対応いたします。<br><br>　スタートしたばかりで口コミ数が少ないため、書き込むのは勇気のいることかと思います。これから大変な思いをする新生児と悩む家族のためにお力をお貸しください。
                </p>
                <a href="/" class="btn btn-primary">ホームへ戻る</a>
            </div>
          </div>
        
    </div>
</div>
