<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title my-4">
                    2025年6月12日 『中京病院』(名古屋市) をデータベースに追加しました！
                </h5>
                <p class="card-text">
                    　利用会員からの情報提供により<a href="/hospital/684a8d4ee4152e9bfbe4df17">中京病院(名古屋市)</a>をデータベースに新規登録いたしました。病院指標の手術件数も新規掲載しておりますが、<b>こども病院ではないのに小児心臓外科手術の件数がとても多い病院でした。</b>是非皆様のご経験を口コミ投稿してください。まだ口コミ数が少ないため書き込むのは勇気のいることかと思いますが、これから大変な思いをする新生児と悩む家族のためにお力をお貸しください。よろしくお願いいたします。<br><br>　日本小児心臓外科医会のWebページに載っていない病院で、外科手術を受けた経験がある場合、または情報が欲しい場合は<a href="/form">問い合わせフォーム</a>にてご連絡ください。できる限り迅速にデータベースへ反映いたします。
                </p>
                <a href="/" class="btn btn-primary">ホームへ戻る</a>
            </div>
        </div>
    </div>
</div>
