<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>このキャンペーンは終了しました。<small>(2024.10.07)</small></h3>
        <p>期間内に投稿件数が10件未満だったため、一斉掲載はありません。</p>
        <div class="card text-decoration-line-through">
            <div class="card-body">
                <h5 class="card-title my-4">
                    2024年9月22日 みんなで一斉に口コミ投稿しよう！
                </h5>
                <div class="card-text">
                    <legend>【イベント内容】</legend>
                    <p>2027/10/7に口コミを一斉に掲載いたします！</p>

                    <legend>【いつもと違う点】</legend>
                    <ol>
                        <li>本来順次掲載する口コミを、2024/10/6深夜までに投稿された口コミは10/7以降に一斉に掲載いたします。</li>
                        <li>2024/10/6深夜までに投稿された口コミ件数が10件未満の場合は、投稿者に差戻し致します。</li>
                    </ol>

                    <legend>【目的】</legend>
                    <p>
                        投稿者の足並みを揃えることで「私だけ？」を防ぎ、期限を決めることで「後回し」を防ぎます。一斉にこの機会に口コミ投稿を促す目的です。このアプリの趣旨にご賛同いただける皆様、是非口コミ投稿をよろしくお願いいたします。
                    </p>
                </div>

                <a href="/" class="btn btn-primary mt-3">ホームへ戻る</a>
            </div>
          </div>
        
    </div>
</div>
