<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>需要が無いためこのキャンペーンは終了しました。<small>(2024.09.18)</small></h3>
        <div class="card text-decoration-line-through">
            <img src="https://m.media-amazon.com/images/G/09/gc/designs/livepreview/a_basic_noto_email_v2016_jp-main._CB592771046_.png" class="card-img-top px-5" alt="amazon Gift Card">
            <div class="card-body">
                <h5 class="card-title">
                    口コミ投稿感謝キャンペーン実施中‼先着20名様にAmazonギフトカード1500円分プレゼント‼
                </h5>
                <h6 class="card-subtitle text-secondary mb-3">
                    【キャンペーン主催: HeartHospital】
                    <small>
                       ※AmazonはAmazon.com, Inc.またはその関連会社の商標です。本キャンペーンはHeartHospitalによる提供です。
                       本キャンペーンについてのお問い合わせはAmazonではお受けしておりません。御用の際は当アプリの<a href="/form">問い合わせフォーム</a>をお使いください。
                    </small>
                </h6>
                <p class="card-text">
                    HeartHospitalをご利用いただきありがとうございます。口コミ投稿への感謝の意を込めてプレゼントキャンペーンを実施しています。病院に対して口コミを投稿し承認された場合、先着20名様にAmazonギフトカード1500円分をご登録アカウントのEメールアドレス宛に送付いたします。<br><br>
                    <b>口コミ投稿の方法</b><br>
                    <b class="text-primary">(1)まずはお手数ですがアカウントを作成していただきます。</b>Googleアカウントを利用すれば面倒な手間はかかりません。Googleアカウントを利用しない登録方法もありますが、Emailアドレス認証がありますので案内に従ってご登録お願いいたします。<br>
                    <b class="text-primary">(2)「病院一覧」から治療を受けた病院を選択し病院詳細画面の口コミ投稿フォームにてご入力ください。</b>(ログインしていないと口コミ投稿フォームは表示されません。)<br>
                    <b class="text-primary">(3)</b>利用規約第5条のとおり適切な内容と判断した場合のみ承認・掲載いたします。(承認までお時間をいただくこともございます。ご了承ください。)'<br><br>
                    お金配りは怪しいな、、、と感じる方は辞退していただくことも可能です。ログイン・口コミ投稿後に<a href="/form">問い合わせフォーム</a>にて辞退の旨をお伝えください。
                </p>
            </div>
            <div class="card-footer">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        ※ 先着20名様に限ります。
                    </li>
                    <li class="list-group-item">
                        ※ キャンペーンはこちらの都合により急遽打ち切る可能性があります。
                    </li>
                    <li class="list-group-item">
                        ※ 口コミを投稿しても、悪評を含むと判断された場合は承認されず掲示されません。その場合は当キャンペーンの適用対象外となります。
                    </li>
                    <li class="list-group-item">
                        ※ アカウント・口コミを1か月以内に削除された場合、当キャンペーンの適用対象外となります。
                    </li>
                    <li class="list-group-item">
                        ※ 口コミ投稿が承認されてから約1か月後にご登録Eメールアドレス宛にAmazonギフトカード1500円分を送付いたします。Eメールアドレスを別途指定することはできません。また、約1か月後にメールが送られてこない場合は、お手数ですが問い合わせフォームにてお知らせください。
                    </li>
                </ul>
                <a href="/" class="btn btn-primary mt-3">ホームへ戻る</a>
            </div> 
        </div>       
    </div>
</div>
