<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title my-4">
                    2024年9月22日 【プライバシーポリシーの改定】　以下の通り変更します
                </h5>
                <p class="card-text">
                    <p>【変更目的】<br>将来的に機能を追加する可能性を見込んで記述していた文言を現状のサービスに合わせることで、個人情報の利用について透明性をもたせること。また、他組織のセキュリティを含むサービスを利用することが「組織的な対策」と言えないため、文言の修正を行います。</p>
                    <legend>「2.収集する情報」</legend>
                    <ol>
                        <li class="mb-4">
                            旧→　登録情報: ユーザーがアカウントを作成する際に提供する氏名、メールアドレス、パスワードなどの情報。<br>新→　登録情報: ユーザーがアカウントを作成する際に提供する氏名<b class="text-danger">またはペンネーム</b>、メールアドレス、パスワードなどの情報。
                        </li>
                        <li class="mb-4">
                            旧→　技術情報: ユーザーのデバイス情報、IPアドレス、ブラウザの種類、アクセス日時、閲覧ページなどの技術情報。<br>
                            新→　<b class="text-danger">削除</b><span class="text-secondary">(新たな機能を追加する際に利用を想定していましたが、現状その見込みがないため削除します)</span>
                        </li>
                        <li class="mb-4">
                            旧→　Cookieおよび類似技術: ユーザーの<span class="fw-bold text-decoration-underline">操作履歴や</span>設定情報を収集するために使用するCookieおよび類似技術。<br>
                            新→　Cookieおよび類似技術: ユーザーの<b class="text-danger">(上記下線部を削除)</b>設定情報を収集するために使用するCookieおよび類似技術。<span class="text-secondary">(Cookieでアカウントのログイン機能を実装していますが、マーケティング等で利用される操作履歴は現在利用していないため削除します)</span>
                        </li>
                    </ol>
                    <legend>「5. 情報の保護」</legend>
                    <ol>
                        <li>
                            旧→　当アプリは、ユーザーの個人情報を保護するために適切な技術的<b class="text-decoration-underline">および組織的な</b>対策を講じます。ただし、インターネットを通じた情報の送信や保管の完全な安全性を保証することはできません。<br>
                            新→　当アプリは、ユーザーの個人情報を保護するために適切な技術的<b class="text-danger">(上記下線部を削除)</b>対策を講じます。ただし、インターネットを通じた情報の送信や保管の完全な安全性を保証することはできません。
                        </li>
                    </ol>
                </p>
                <a href="/" class="btn btn-primary">ホームへ戻る</a>
            </div>
          </div>
        
    </div>
</div>
