<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title my-4">
                    2025年2月28日 【プライバシーポリシーの改定】　児童安全基準ポリシーの追加
                </h5>
                <p class="card-text">
                    <p>【変更目的】<br>プラットフォーム上の子供の安全を真剣に受け止め、子供の性的虐待や搾取のない状態に保つため。</p>
                    <legend class="mt-2"><b class="text-danger">(追加)</b>「プライバシーポリシー 9. 児童の安全に関する方針」</legend>
                    <ul>
                        <li>
                            旧→　（なし）
                        </li>
                        <li class="mb-4">
                            新→　当アプリは、児童の性的虐待や搾取（CSAE）に対して厳格な対応を取ります。児童に関する不適切なコンテンツ（CSAM）が投稿された場合、直ちに削除し、必要に応じて適切な機関へ通報します。児童に危害を及ぼす可能性のある行為が確認された場合、該当ユーザーのアカウントを停止し、関係当局と連携します。
                        </li>
                    </ul>
                    <legend><b class="text-danger">(追加)</b>「プライバシーポリシー 10. 不適切なコンテンツの報告・児童安全に関するお問い合わせ」</legend>
                    <ul>
                        <li>
                            旧→　（なし）
                        </li>
                        <li class="mb-4">
                            新→　ユーザーは、当アプリ内で不適切なコンテンツを発見した、または児童の安全に関するお問い合わせや懸念がある場合、以下の方法で報告できます。<br><br>
                            ①　<a href="/form">【問い合わせフォーム】</a>  (※未ログイン時は匿名のフィードバック提出が可能です。)<br>
                            ②　【通報用メールアドレス】 support@hearthospital.jp<br><br>
                            報告された内容は速やかに確認し、適切な対応を行います。
                        </li>
                    </ul>
                </p>
                <a href="/" class="btn btn-primary">ホームへ戻る</a>
            </div>
          </div>
        
    </div>
</div>
  