<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title my-4">
                    2024年10月10日 【利用規約の改定】　以下の通り変更します
                </h5>
                <p class="card-text">
                    <p>【変更目的】<br>現状に合わせた文言の整理と、おしゃべり場実装に伴う追加・変更</p>
                    <legend class="mt-2">「利用規約第2条（アカウントの登録）」</legend>
                    <ul>
                        <li>
                            旧→　ユーザーは、アカウント登録時に提供する情報が正確かつ最新であることを保証するものとします。
                        </li>
                        <li class="mb-4">
                            新→　<b class="text-danger">（削除）</b><span class="text-secondary">管理している情報に正確性と最新性が不要であるため削除</span>
                        </li>
                    </ul>
                    <legend>「利用規約第4条（禁止事項）」</legend>
                    <ul>
                        <li>
                            旧→　スクリーンショットやスクリーンキャプチャー機能等でアプリ上の情報を保存し利用または掲載する行為
                        </li>
                        <li class="mb-4">
                            新→　<b class="text-danger">（削除）</b><span class="text-secondary">厳しすぎるため削除</span>
                        </li>
                    </ul>
                    <legend>「利用規約第5条（口コミの投稿）」</legend>
                    <ul>
                        <li>
                            旧→　投稿された口コミは、当アプリの管理人による検閲と承認を経て、表示されるものとします。当アプリは、管理人の判断により以下に該当する口コミを削除または表示しない権利を有します。
                        </li>
                        <li class="mb-4">
                            新→　投稿された<b class="text-danger">（追加）病院に関する</b>口コミは、当アプリの管理人による検閲と承認を経て、表示されるものとします。当アプリは、管理人の判断により以下に該当する<b class="text-danger">（追加）病院に関する</b>口コミを削除または表示しない権利を有します。<b class="text-danger">（追加）また、おしゃべり場にて投稿された口コミは当アプリの管理人による検閲と承認は実施されないが、管理人の判断により以下に該当する口コミを削除または表示しない権利を有します。</b><span class="text-secondary">おしゃべり場の実装に伴う追加・変更</span>
                        </li>
                    </ul>
                    <legend>「利用規約第7条（免責事項）」</legend>
                    <ul>
                        <li>
                            旧→　当アプリは、本サービスの提供に関して、いかなる保証も行いません。
                        </li>
                        <li class="mb-4">
                            新→　<b class="text-danger">（削除）</b><span class="text-secondary">文言が重複しているため削除</span>
                        </li>
                    </ul>
                </p>
                <a href="/" class="btn btn-primary">ホームへ戻る</a>
            </div>
          </div>
        
    </div>
</div>
