<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title my-4">
                    2025年2月25日 【利用規約の改定】　以下の通り変更します
                </h5>
                <p class="card-text">
                    <p>【変更目的】<br>内容の見直しとモバイルアプリリリースに向けての変更</p>
                    <legend class="mt-2">「利用規約第5条（口コミの投稿）」</legend>
                    <ul>
                        <li>
                            旧→　ユーザーは、本サービスを利用して病院に関する口コミを投稿することができます。投稿された病院に関する口コミは、当アプリの管理人による検閲と承認を経て、表示されるものとします。当アプリは、管理人の判断により以下に該当する病院に関する口コミを削除または表示しない権利を有します。また、おしゃべり場にて投稿された口コミは当アプリの管理人による検閲と承認は実施されないが、管理人の判断により以下に該当する口コミを削除または表示しない権利を有します。<br>
                            ・悪評や悪口などの悪意のある投稿<br>
                            ・自己の経験に基づかない風評を含む投稿<br>
                            ・その他、当アプリが不適切と判断する投稿<br>
                            ユーザーは、投稿する口コミが事実に基づき、誹謗中傷や不適切な内容を含まないものであることを保証するものとします。
                        </li>
                        <li class="mb-4">
                            新→　ユーザーは、本サービスを利用して病院に関する口コミ<b class="text-danger">や子育てに関する情報</b>を投稿することができます。<b class="text-danger">(場所を移動)ユーザーは誹謗中傷や不適切な内容を含まないものであることを保証するものとします。</b>投稿された病院に関する口コミにおいては、当アプリの管理人による検閲と承認を経て表示されるものとします。当アプリは、以下に該当する<b class="text-danger">投稿</b>を削除または表示しない権利を有します。<br>
                            ・悪評や悪口などの悪意のある投稿<br>
                            ・自己の経験に基づかない風評<b class="text-danger">のみの</b>投稿<br>
                            ・その他、当アプリが不適切と判断する投稿<br>
                        </li>
                    </ul>
                    <legend>「利用規約第7条（免責事項）」</legend>
                    <ul>
                        <li>
                            旧→　当アプリは、管理人が検閲および承認を行った口コミに関して、いかなる責任も負いません。ユーザーは、自身の責任において口コミを投稿するものとします。
                        </li>
                        <li class="mb-4">
                            新→　<b class="text-danger">（削除）</b>
                        </li>
                    </ul>
                    <legend>「プライバシーポリシー 2. 収集する情報」</legend>
                    <ul>
                        <li>
                            旧→　当アプリは、以下の情報を収集する場合があります。<br>
                            ・登録情報: ユーザーがアカウントを作成する際に提供する氏名またはペンネーム、メールアドレス、パスワードなどの情報。<br>
                            ・口コミ情報: ユーザーが投稿する病院の口コミ。<br>
                            ・Cookieおよび類似技術: ユーザーの設定情報を収集するために使用するCookieおよび類似技術。<br>
                        </li>
                        <li class="mb-4">
                            新→　<b class="text-danger">(1) </b>当アプリは、以下の情報を収集する場合があります。<br>
                            ・登録情報: ユーザーがアカウントを<b class="text-danger">登録</b>する際に提供する<b class="text-danger">(削除)</b>ペンネーム、メールアドレス、パスワードの情報。<br>
                            <b class="text-danger">・外部アカウント登録情報: 外部アカウント内のID、氏名、メールアドレスの情報(外部アカウントを利用して当アプリのアカウント登録をした場合に限る)。</b><br>
                            ・口コミ情報: ユーザーが投稿する病院の<b class="text-danger">情報や子育てに関する情報とその投稿日時。</b><br>
                            <b class="text-danger">・技術情報: IPアドレス(不正アクセス時に限る)などの技術情報。</b><br>
                            <b class="text-danger">(2) 当アプリ(モバイルアプリに限る)では Google AdMob を使用して広告を配信しており、パーソナライズド広告を使用しない設定にしています。ユーザーの興味関心・履歴等に関する情報収集は一切行われません。ただし、Googleは広告の表示回数やクリック数などの統計情報を収集し、広告の最適化や不正防止のために利用することがあります。詳しくはGoogleのプライバシーポリシーをご確認ください。<br>
                            Google プライバシーポリシー<br>
                            Google 広告に関するポリシー<br>
                            Google データの使用に関するポリシー</b>
                        </li>
                    </ul>
                    <legend>「プライバシーポリシー 3. 情報の使用目的」</legend>
                    <ul>
                        <li>
                            旧→　・法律および規制の遵守
                        </li>
                        <li class="mb-4">
                            新→　<b class="text-danger">（削除）</b>
                        </li>
                    </ul>
                </p>
                <a href="/" class="btn btn-primary">ホームへ戻る</a>
            </div>
          </div>
        
    </div>
</div>
