<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <img src="/css/pictures/HeartHospital-wide.png" class="card-img-top px-5" alt="logo">
            <div class="card-body">
                <h5 class="card-title">2024年7月1日に
                    <small>
                        ~先天性心疾患専用 病院口コミアプリ~
                    </small> HeartHospitalが誕生しました。</h5>
                <p class="card-text">
                    　医師をはじめとした専門知識のある医療従事者がその家族をサポートし治療の成功に導くことが望ましい形です。それでも、不安で押しつぶされそうになりながら、子どもの病気について深夜までWEB検索して知識を増やし、似たような病状の患者のSNSを探して共通点を見つけ、なんとか将来を描こうと悩む家族がいます。頭の中はグチャグチャで時間だけが過ぎていき、結局選択肢について考える機会もなく手術に挑むのです。<br>　日本の小児心臓外科手術ができる病院に限りますが、HeartHospitalは先天性心疾患に対して治療が一段落した人の経験を蓄積し共有することで、これから治療を受ける悩む家族の手助けをします。<br><br>　スタートしたばかりで口コミ数が少ないため、書き込むのは勇気のいることかと思います。これから大変な思いをする新生児と悩む家族のためにお力をお貸しください。
                </p>
                <a href="/" class="btn btn-primary">ホームへ戻る</a>
            </div>
          </div>
        
    </div>
</div>
