<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <img src="/css/pictures/hospitalData.png" class="card-img-top" alt="logo" style="border:24px solid white;">
            <div class="card-body">
                <h5 class="card-title text-center mb-3">
                    『数字で見る病院データ』<small>を追加しました!</small>
                </h5>
                <p class="card-text">
                    　皆様は各病院が公表する「病院指標」をご覧になったことがありますか？残念ながら病院の全てがわかるものではありません。しかしながら、病院の一部を数字で表していることから、そこから得られるものもあるはずです。現在公表されている令和4年度(2022年度)の病院指標をまとめてみました。情報収集がなかなか大変でした。何かに利用してもらえると嬉しいです。<br>　また、毎年9月下旬から10月初旬にかけて最新の病院指標を公表する病院が多いようですので、まもなく令和5年度(2023年度)の病院指標が公表されるでしょう。その際は情報を更新してまとめたものを皆様にお伝えできればなと思っています。<br><br>　現在口コミが集まっておらず、経験の蓄積と共有の場として成立していません。<b class="text-decoration-underline fs-5">皆様、データを見たあとには、口コミ投稿よろしくね！</b>
                </p>
                <a href="/" class="btn btn-primary">ホームへ戻る</a>
            </div>
          </div>
        
    </div>
</div>

