<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title my-4">
                    2025年11月4日<br><a href="/hospitalData">『数字で見る病院データ』</a>を最新データに更新しました！
                </h5>
                <div class="card-text">
                    <p>
                        <b>令和6年度（2024/04/01～2025/03/31）</b>の最新の病院指標が公表されましたので、データを更新しました！直近で多くの経験を積んでいる医療チームがどこにあるのかがわかります。是非ご利用ください。個人的には他のどのサイトよりも見やすく掲載したつもりです。会員のみ閲覧可能ですので、この機会にアカウント新規登録（無料）と口コミ投稿をよろしくお願いいたします。
                    </p>

                <div class="text-center mt-5 mb-3">
                    <a href="/" class="btn btn-primary">ホームへ戻る</a>
                </div>
            </div>
          </div>
        
    </div>
</div>
