<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mb-2">
            <img src="/css/pictures/talkingRoom2.png" class="card-img-top" alt="talkingRoomImage">
            <div class="card-body pt-0">
                <h5 class="card-title my-4">
                    2024年10月31日<br><a href="/talkingRoom">『おしゃべり場』</a>が会員登録不要になりました！
                </h5>
                <div class="card-text">
                    <p class="m-0">
                        いたずらや悪意ある攻撃に対抗するために会員登録を必須にしていましたが、会員登録への煩雑さやセキュリティに不安を感じた方にもご利用いただけるようシステムを変更しました。個人情報を入力することなく気軽におしゃべり場が利用できるようなりました。悪意ある攻撃に最低限対処できるようにgoogle reCAPTCHAを導入しておりますので、「私はロボットではありません」のチェックボックスにチェックを入れてご投稿ください。
                    </p>
                </div>

                <div class="text-center my-3">
                    <a href="/" class="btn btn-primary">ホームへ戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>
