<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mb-2">
            <img src="/css/pictures/05.png" class="card-img-top" alt="talkingRoomImage">
            <div class="card-body pt-0">
                <h5 class="card-title my-4">
                    2024年10月9日<br><a href="/talkingRoom">『おしゃべり場』</a>を実装しました！
                </h5>
                <div class="card-text">
                    <p class="m-0">
                        こんなのあったら良いな、を作ってみました。ネーミングセンスはいまいちかもしれませんが、その名も『おしゃべり場』。過去の経験で苦労したことやおすすめしたい物事、相談や制度の問題点等、なんでもOKな場所。一定のモラルを保ちながら当アプリの方向性から大きく外れなければ、使いたいように使ってもらえればと思っています。
                    </p>
                </div>

                <div class="text-center my-3">
                    <a href="/" class="btn btn-primary">ホームへ戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>
