<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HeartHospital（ハートホスピタル）は、先天性心疾患の患者や家族が病院の口コミを投稿することで、様々な経験を蓄積し共有できるサイトです。全国の病院の評価や手術実績をチェックできます。">


    <link rel="icon" href="/css/pictures/icon-192x192.png" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="/css/pictures/icon-192x192.png">
    <link rel="apple-touch-startup-image" href="/css/pictures/HeartHospital-small.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>HeartHospital ～先天性心疾患専用 病院口コミアプリ～ (ハートホスピタル)</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "HeartHospital",
        "url": "https://www.hearthospital.jp",
        "description": "HeartHospital（ハートホスピタル）は、先天性心疾患の患者や家族が病院の口コミを投稿することで、様々な経験を蓄積し共有できるサイトです。全国の病院の手術実績もチェックできます。"
      }
      </script>
</head>
