<div class="alert alert-danger py-1 text-center mb-2" role="alert">
    ※<a href="" type="button" data-bs-toggle="modal" data-bs-target="#explanationOfFilter">独自フィルタリング</a>の内容は必ずご確認ください！
</div>
<p>
    <small>
        　病院指標は、病院の診療実績や医療の質、安全性、効率性を測るためのデータを集計・分析し、客観的に評価するための基準や指標のことです。適切な医療サービスの提供を促進するために用いられます。HeartHospitalでは病院指標を基に<a href="" type="button" data-bs-toggle="modal" data-bs-target="#explanationOfFilter">独自フィルタリング</a>し、<b>令和3～5年度の各病院の手術情報を見やすく表やグラフにしたもの</b>を会員の皆様に提供いたします。
    </small>
</p>
<!-- Button trigger modal -->
<div class="text-center mb-4">
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#movieModal">
        使い方動画
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="movieModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-0 float-center">
            <div class="modal-body px-0 text-center" style="background:url('../css/pictures/night-light.jpg') no-repeat top/cover;">
                <video id="hospitalDataVideo" class="float-center" width="320" height="550" controls>
                    <source src="../css/pictures/hospitalData.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div>
                    <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script nonce="<%=nonce%>">
    const movieModal = document.getElementById('movieModal');
    const video = document.getElementById('hospitalDataVideo');
    movieModal.addEventListener('hide.bs.modal', function () {
        video.pause();
        video.currentTime = 0;
    });
</script>
