<div class="p-3 collapse colEle text-white" id="KcodeCollapseSummary">
    <div class="mx-2 my-2 d-flex gap-3">
        <select name="selectedYear" class="border-primary form-select form-select-sm KcodeSelectedYear" style="max-width:7rem;">
            <option value="R3">令和3年度</option>
            <option value="R4">令和4年度</option>
            <option value="R5">令和5年度</option>
            <option value="R6" selected>令和6年度</option>
        </select>
    </div>
    
    <canvas id="KcodeSummaryPC" class="bg-white" height="250"></canvas>

</div>

