<div class="col-lg-4 text-center my-5 p-0">
    <h4 class="text-success">What's new</h4>
    <div class="overflow-auto" style="max-height: 30vh;">
        <table class="table table-success table-striped opacity-75">
            <tbody>
                <!-- <span class="badge bg-danger blinking-badge">New</span> -->
                
                <tr>
                    <th scope="row">2025.02.28<span class="badge bg-danger blinking-badge">New</span></th>
                    <td class="text-start">
                        <a href="/whatsNew/changePolicy04">
                            【プライバシーポリシーの改定】<br>児童安全基準ポリシーの追記
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2025.02.25<span class="badge bg-danger blinking-badge">New</span></th>
                    <td class="text-start">
                        <a href="/whatsNew/changePolicy03">
                            【利用規約・プライバシーポリシーの改定】<br>モバイルアプリリリースに向けて内容を変更
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.10.31</th>
                    <td class="text-start">
                        <a href="/whatsNew/talkingRoom2">
                            おしゃべり場が会員登録不要になりました！
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.10.10
                        <!-- <span class="badge bg-danger blinking-badge">New</span> -->
                    </th>
                    <td class="text-start">
                        <a href="/whatsNew/changePolicy02">
                            【利用規約の改定】<br>現状に合わせた文言の整理と、おしゃべり場実装に伴う追加・変更
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.10.09</th>
                    <td class="text-start">
                        <a href="/whatsNew/talkingRoom">
                            おしゃべり場が実装!!<br>共通の話題で情報交換しよう！
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.09.30</th>
                    <td class="text-start">
                        <a href="/whatsNew/renewalHospitalData">
                            【 『数字で見る病院データ』を更新】<br>令和5年度の最新データを掲載しました！
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.09.22<span class="badge bg-secondary">終了しました</span></th>
                    <td class="text-start">
                        <a href="/whatsNew/allAtOnce" class="text-decoration-line-through">
                            【お知らせ】みんなで一斉に口コミ投稿！<br>期限:　2024/10/6（日）深夜
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.09.22</th>
                    <td class="text-start">
                        <a href="/whatsNew/changePolicy01">
                            【プライバシーポリシーの改定】<br>「2.収集する情報」、「5. 情報の保護」を現状にあわせる変更
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.09.18</th>
                    <td class="text-start">
                        <a href="/whatsNew/hospitalData">
                            【数字で見る病院データ】ページを追加しました！
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.09.10</th>
                    <td class="text-start">
                        <a href="/whatsNew/addHospitalNisseki">
                            【悩んでいるご家族へ情報求む！】　『日本赤十字社医療センター』(渋谷区) について教えてください！
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2024.07.01</th>
                    <td class="text-start">
                        <a href="/whatsNew/established">
                            <small>~先天性心疾患専用 病院口コミアプリ~</small>HeartHospital 誕生しました！
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
