<% layout('layouts/boilerplate') %>

<div class="col-lg-6 offset-lg-3">
    <div class="card">
        <div class="card-body">

            <h3 class="mb-3">パスワード再設定フォームの宛先</h3>

            <div class="input-group mb-1">
                <span class="input-group-text">
                    E-mailアドレス
                </span>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <p class="mb-5 text-secondary" id="hintText">
                <small>
                    ※「support@hearthospital.jp」から自動でパスワード再設定用メールを送信いたします。メール内のURLにてお手続きしてください。
                </small>
            </p>

            <div class="text-center">
                <button type="button" class="btn btn-success w-100" id="sendEmail">
                    パスワード再設定メールを送信する    
                </button>
            </div>


        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script nonce="<%=nonce%>">
    // メールを送る
    const sendEmailBtn = document.querySelector('#sendEmail');
    const email = document.querySelector('#email');
    const hintText = document.querySelector('#hintText');
    sendEmailBtn.addEventListener('click', ()=>{
        axios.post('/resetPassword', {email:email.value})
        .then(response =>{
            if(response.data.sent){
                email.classList.add('pe-none');
                sendEmailBtn.disabled = true;
                sendEmailBtn.textContent = 'メールを送信しました';
                sendEmailBtn.classList.add('btn-outline-primary', 'pe-none');
                sendEmailBtn.classList.remove('btn-primary')
                hintText.textContent = response.data.message;
                hintText.classList.remove('text-danger');
                hintText.classList.add('text-success');

                
            } else {
                hintText.textContent = response.data.message;
                hintText.classList.add('text-danger')
            }
        })
        .catch(console.error)
    })
</script>